# Ignore node_modules (contains installed packages)
node_modules

# Ignore build folder (created after running npm run build)
build

# Ignore environment variables (contains sensitive data)
.env

# Ignore VS Code settings
.vscode

# Ignore logs and temporary files
npm-debug.log
yarn-debug.log
yarn-error.log
