.ddd-li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family:  Arial;
    border-radius: 8px;
    width: 340px;
    height: auto;
    box-shadow: 8px 10px 40px 8px rgba(7, 7, 7, 0.08);
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

.ddd-name {
    font-size: 20px;
    font-weight: 600;
    color: #b57433;
}

.hhh-exp {
    font-size: 18px;
    font-weight: 600;
    color: #0f1635;
    margin-top: 0px;
    padding-top: 0px;
}

@media screen and (max-width: 768px) {
    .ddd-li {
        width: 280px;
    }

    .ddd-name {
        font-size: 18px;
    }

    .hhh-exp {
        font-size: 16px;
    }
}